<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/admin.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    body {
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
    }

    .largerCheckbox {
      width: 40px;
      height: 40px;
    }

    .query {
      /* margin-top: 7.5%;  */
      margin-left: 10%;
      margin-right: 10%;
      background-color: white;
      /* display:none; */
    }

    .accept {
      /* margin-top: 7.5%;   */
      margin-left: 10%;
      margin-right: 10%;
      background-color: white;
      display: none;
      /* padding: 5%; */
    }

    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 30px;
      padding-right: 40px;
    }


    .box {
      background-color: #eee;
      width: 400px;
      height: 150px;
      margin-top: 50px;
      margin-left: 100px;
      display: inline-block;
    }

    .box1 {
      width: 70px;
      height: 50px;
      position: relative;
      bottom: 20px;
      left: 20px;
      box-shadow: 0px 0px 10px 2px black;
    }

    .q {
      margin-top: 40px;
    }

    .table1 {
      margin-top: 100px;
    }

    .table2 {
      margin-top:50px;
    }

    .acc {
      margin-top: 70px;
      /* margin-bottom: 500px; */
    }

    .rem {
      margin-bottom: 40px;

    }

    .remp {
      margin-bottom: 40px;

    }

    .removeDoctor {
      /* margin-top: 7.5%;  */
      margin-left: 10%;
      margin-right: 10%;
      background-color: white;
      display: none;
      padding: 5%;
    }

    .removePatient {
      /* margin-top: 7.5%;  */
      margin-left: 10%;
      margin-right: 10%;
      background-color: white;
      display: none;
      padding: 5%;
    }

    input {
      width: 250px;
      padding: 5px;
    }

    .button {
      background-color: #f44336;
      /* Green */
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 4px;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
</head>

<body>
<div class="sidebar">
  <div class="logo-details">
    <pre><div class="logo_name">  E-Clinic</div></pre>
    <i class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav-list">
    <li id="qu">
      <a href="#">
        <i class="bi bi-question-circle-fill"></i>
        <span class="links_name">Queries</span>
      </a>
      <span class="tooltip">Queries</span>
    </li>
    <br>
    <li id="ad">
      <a href="#">
        <i class="fa fa-stethoscope"></i>
        <span class="links_name">Accept<br>doctor</span>
      </a>
      <span class="tooltip">Accept doctor</span>
    </li>
    <br>
    <li id="removeDoc">
      <a href="#">
        <i class="fa fa-user-md"></i>
        <span class="links_name">Remove<br>doctor</span>
      </a>
      <span class="tooltip">Remove doctor</span>
    </li>
    <br>
    <li id="removePat">
      <a href="#">
        <i class="fa fa-wheelchair"></i>
        <span class="links_name">Remove<br>patient</span>
      </a>
      <span class="tooltip">Remove patient</span>
    </li>
    <br>
  </ul>
</div>
<div class="query" id="tb1">

  <div class="q">
    <strong style="font-size: 60px;">Queries</strong>
  </div>

  <table class="table1">
    <tbody>
    <thead>
    <tr class="bg-light">
      <th scope="col" width="10%">Sr.No</th>
      <th scope="col" width="10%">name</th>
      <th scope="col" width="10%">email</th>
      <th scope="col" width="20%">query</th>
      <th scope="col" width="10%">status</th>
    </tr>
    </thead>
    <tr>
      <td>
        <center>1</center>
      </td>
      <td>
        <center>patient1</center>
      </td>
      <td>
        <center>patient1@gmail.com</center>
      </td>
      <td>
        <center>Dr.abcd is not responding </center>
      </td>
      <td>
        <center><input type="checkbox" class="largerCheckbox"
                       style="border:2px dotted #00f;display:block;background:#ff0000;" /></center>
      </td>

    </tr>
    <tr>
      <td>
        <center>2</center>
      </td>
      <td>
        <center>patient2</center>
      </td>
      <td>
        <center>patient2@gmail.com</center>
      </td>
      <td>
        <center>Dr.abcd is not responding</center>
      </td>
      <td>
        <center><input type="checkbox" class="largerCheckbox"
                       style="border:2px dotted #00f;display:block;background:#ff0000;" /></center>
      </td>



    </tr>
    <tr>
      <td>
        <center>3</center>
      </td>
      <td>
        <center>patient3</center>
      </td>
      <td>
        <center>patient1@gmail.com</center>
      </td>
      <td>
        <center>Dr.abcd is not responding</center>
      </td>
      <td>
        <center><input type="checkbox" class="largerCheckbox"
                       style="border:2px dotted #00f;display:block;background:#ff0000;" /></center>
      </td>


    </tr>
    <tr>
      <td>
        <center>4</center>
      </td>
      <td>
        <center>patient4</center>
      </td>
      <td>
        <center>patient1@gmail.com</center>
      </td>
      <td>
        <center>Dr.abcd is not responding</center>
      </td>
      <td>
        <center><input type="checkbox" class="largerCheckbox"
                       style="border:2px dotted #00f;display:block;background:#ff0000;" /></center>
      </td>


    </tr>
    <tr>
      <td>
        <center>5</center>
      </td>
      <td>
        <center>patient5</center>
      </td>
      <td>
        <center>patient1@gmail.com</center>
      </td>
      <td>
        <center>Dr.abcd is not responding</center>
      </td>
      <td>
        <center><input type="checkbox" class="largerCheckbox"
                       style="border:2px dotted #00f;display:block;background:#ff0000;" /></center>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="accept" id="tb2">
  <div class="acc">
    <strong style="font-size: 60px;">Verify Doctor</strong>
  </div>
  <table class="table2">
    <tbody>
    <thead>
    <tr class="bg-light">
      <th scope="col" width="10%">s.no</th>
      <th scope="col" width="10%">name</th>
      <th scope="col" width="10%">email</th>
      <th scope="col" width="10%">qualification</th>
      <th scope="col" width="10%">Department</th>
      <th scope="col" width="20%">Certificates</th>
      <th scope="col" width="10%">Accept</th>

    </tr>
    </thead>
    <tr>
      <td>
        <center>1</center>
      </td>
      <td>
        <center>bargav</center>
      </td>
      <td>
        <center>bargav@mail.com</center>
      </td>
      <td>
        <center>mbbs</center>
      </td>
      <td>
        <center>neurology</center>
      </td>
      <td>
        <center>studyCertificate.pdf</center>
      </td>
      <td>
        <center><input type="checkbox" class="largerCheckbox"
                       style="border:2px dotted #00f;display:block;background:#ff0000;" /></center>
      </td>
    </tr>
    <tr>
      <td>
        <center>2</center>
      </td>
      <td>
        <center>charan</center>
      </td>
      <td>
        <center>charan@gmail.com</center>
      </td>
      <td>
        <center>MD</center>
      </td>
      <td>
        <center>Cardiology</center>
      </td>
      <td>
        <center>studyCertificate.pdf</center>
      </td>
      <td>
        <center><input type="checkbox" class="largerCheckbox"
                       style="border:2px dotted #00f;display:block;background:#ff0000;" /></center>
      </td>
    </tr>
    <tr>
      <td>
        <center>3</center>
      </td>
      <td>
        <center>abcd</center>
      </td>
      <td>
        <center>abcd@gmail.com</center>
      </td>
      <td>
        <center>MBBS</center>
      </td>
      <td>
        <center>Anesthesiology</center>
      </td>
      <td>
        <center>Certificate.pdf</center>
      </td>
      <td>
        <center><input type="checkbox" class="largerCheckbox"
                       style="border:2px dotted #00f;display:block;background:#ff0000;" /></center>
      </td>
    </tr>
    <tr>
      <td>
        <center>4</center>
      </td>
      <td>
        <center>pqrs</center>
      </td>
      <td>
        <center>pqrs@gmailc.om</center>
      </td>
      <td>
        <center>MD</center>
      </td>
      <td>
        <center>Anesthesiology</center>
      </td>
      <td>
        <center>cert.pdf</center>
      </td>
      <td>
        <center><input type="checkbox" class="largerCheckbox"
                       style="border:2px dotted #00f;display:block;background:#ff0000;" /></center>
      </td>
    </tr>
    <tr>
      <td>
        <center>5</center>
      </td>
      <td>
        <center>xyz</center>
      </td>
      <td>
        <center>xyz@gmail.com</center>
      </td>
      <td>
        <center>MBBS</center>
      </td>
      <td>
        <center>Cardiology</center>
      </td>
      <td>
        <center>studyCertificate.pdf</center>
      </td>
      <td>
        <center><input type="checkbox" class="largerCheckbox"
                       style="border:2px dotted #00f;display:block;background:#ff0000;" /></center>
      </td>

    </tr>
    </tbody>
  </table>
</div>

<div class="removeDoctor" id="tb3">
  <div class="rem">
    <strong style="font-size: 60px;">Remove Doctor</strong>
  </div>
  <input type="text" id="myInput11"  placeholder="Search for doctor names.."
         title="Type in a name">
  <br>
  <table class="table3" id="t3">
    <thead>
    <tr class="bg-light">
      <th scope="col" width="10%">Dr Id</th>
      <th scope="col" width="10%">name</th>
      <th scope="col" width="10%">email</th>
      <th scope="col" width="10%">qualification</th>
      <th scope="col" width="10%">Department</th>
      <th scope="col" width="20%">Certificates</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <center>1</center>
      </td>
      <td class="doc">
        <center>bargav</center>
      </td>
      <td>
        <center>bargav@mail.com</center>
      </td>
      <td>
        <center>mbbs</center>
      </td>
      <td>
        <center>neurology</center>
      </td>
      <td>
        <center>studyCertificate.pdf</center>
      </td>
    </tr>
    <tr>
      <td>
        <center>2</center>
      </td>
      <td class="doc">
        <center>charan</center>
      </td>
      <td>
        <center>charan@gmail.com</center>
      </td>
      <td>
        <center>MD</center>
      </td>
      <td>
        <center>Cardiology</center>
      </td>
      <td>
        <center>studyCertificate.pdf</center>
      </td>
    </tr>
    <tr>
      <td>
        <center>3</center>
      </td>
      <td class="doc">
        <center>abcd</center>
      </td>
      <td>
        <center>abcd@gmail.com</center>
      </td>
      <td>
        <center>MBBS</center>
      </td>
      <td>
        <center>Anesthesiology</center>
      </td>
      <td>
        <center>Certificate.pdf</center>
      </td>
    </tr>
    <tr>
      <td>
        <center>4</center>
      </td>
      <td class="doc">
        <center>pqrs</center>
      </td>
      <td>
        <center>pqrs@gmailc.om</center>
      </td>
      <td>
        <center>MD</center>
      </td>
      <td>
        <center>Anesthesiology</center>
      </td>
      <td>
        <center>cert.pdf</center>
      </td>
    </tr>
    <tr>
      <td>
        <center>5</center>
      </td>
      <td class="doc">
        <center>xyz</center>
      </td>
      <td>
        <center>xyz@gmail.com</center>
      </td>
      <td>
        <center>MBBS</center>
      </td>
      <td>
        <center>Cardiology</center>
      </td>
      <td>
        <center>studyCertificate.pdf</center>
      </td>
    </tr>
    </tbody>
  </table>
  <br> <br>
  <input type="text" id="firstname1" placeholder="Enter Doctor Id" /><br>
  <button class="button button3">Remove doctor</button>
</div>


<div class="removePatient" id="tb4">
  <div class="remp">
    <strong style="font-size: 60px;">Remove Patient</strong>
  </div>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for patient names.."
         title="Type in a name">

  <table class="table4">
    <thead>
    <tr class="bg-light">
      <th scope="col" width="10%">s.no</th>
      <th scope="col" width="10%">name</th>
      <th scope="col" width="10%">email</th>
      <th scope="col" width="20%">Doctors<br>consulted</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <center>1</center>
      </td>
      <td>
        <center>bargav</center>
      </td>
      <td>
        <center>bargav@mail.com</center>
      </td>
      <td>
        <center>mbbs</center>
      </td>
    </tr>
    <tr>
      <td>
        <center>2</center>
      </td>
      <td>
        <center>charan</center>
      </td>
      <td>
        <center>charan@gmail.com</center>
      </td>
      <td>
        <center>MD</center>
      </td>
    </tr>
    <tr>
      <td>
        <center>3</center>
      </td>
      <td>
        <center>abcd</center>
      </td>
      <td>
        <center>abcd@gmail.com</center>
      </td>
      <td>
        <center>MBBS</center>
      </td>
    </tr>
    <tr>
      <td>
        <center>4</center>
      </td>
      <td>
        <center>pqrs</center>
      </td>
      <td>
        <center>pqrs@gmailc.om</center>
      </td>
      <td>
        <center>MD</center>
      </td>

    </tr>
    <tr>
      <td>
        <center>5</center>
      </td>
      <td>
        <center>xyz</center>
      </td>
      <td>
        <center>xyz@gmail.com</center>
      </td>
      <td>
        <center>MBBS</center>
      </td>
    </tr>
    </tbody>
  </table>

  <br> <br>
  <input type="text" id="firstname" placeholder="Enter email id" /><br>
  <button class="button button3">Remove Patient</button>
</div>


<script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.getElementById("btn");

  closeBtn.addEventListener("click", () => {
    sidebar.classList.toggle("open");
    menuBtnChange();
  });

  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("t3");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }


  document.getElementById("qu").addEventListener("click", function () {
    document.getElementById("tb1").style.display = "block";
    document.getElementById("tb2").style.display = "none";
    document.getElementById("tb3").style.display = "none";
    document.getElementById("tb4").style.display = "none";
  })

  document.getElementById("ad").addEventListener("click", function () {
    document.getElementById("tb1").style.display = "none";
    document.getElementById("tb2").style.display = "block";
    document.getElementById("tb3").style.display = "none";
    document.getElementById("tb4").style.display = "none";

  })

  document.getElementById("removeDoc").addEventListener("click", function () {
    document.getElementById("tb1").style.display = "none";
    document.getElementById("tb2").style.display = "none";
    document.getElementById("tb3").style.display = "block";
    document.getElementById("tb4").style.display = "none";
  })

  document.getElementById("removePat").addEventListener("click", function () {
    document.getElementById("tb1").style.display = "none";
    document.getElementById("tb2").style.display = "none";
    document.getElementById("tb3").style.display = "none";
    document.getElementById("tb4").style.display = "block";
  })


</script>
</body>

</html>
