#navtitle
{
/* background-color: #F9E4D4; */
background-color: #655D8A;
}
body{
  font-family: 'Montserrat', sans-serif;

}

.navbar-dark .nav-item .nav-link{
  color: black;
font-family: 'Source Serif 4', sans-serif;
  font-size: 1.2rem;

}


h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}



.navbar-dark .navbar-brand{

  font-size: 3.5rem;
  font-weight: bold;
  color: black;
  font-family: 'Montserrat', sans-serif;


}
.container-fluid{
padding: 3% 8% 5%;
}
.navbar{
  padding: 0 0 0 0;
}
.head-margin{
  margin-top: 20px;
  font-size: 2.5rem;
  line-height: 1.5;
}
.im{
  padding-top: 30px;
  width: 40%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;

}
.but{
  margin-top: 5%;
  margin-bottom: 5%;
}
@media (max-width: 1028px) {

#navtitle{
  text-align: center;
}

  .im{
    padding-top: 100px;
      position: static;
      transform: rotate(0deg);
      width: 40%;


  }

}
.ck{

  line-height: 1.5;

}
#features{

  background-color:#7897AB;
  position: relative;
  z-index: 1;
}
